<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532313044987-6bia400gud8uld9mnc9nv22ee3q1ubdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532313044987-6bia400gud8uld9mnc9nv22ee3q1ubdf</string>
	<key>API_KEY</key>
	<string>AIzaSyBcjnhheJaPL21PU2lZEUnqKqIAaFJJXrU</string>
	<key>GCM_SENDER_ID</key>
	<string>532313044987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywebnapp.Let-Me-In</string>
	<key>PROJECT_ID</key>
	<string>let-me-in-794a5</string>
	<key>STORAGE_BUCKET</key>
	<string>let-me-in-794a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532313044987:ios:38645a3e5f4f92da</string>
	<key>DATABASE_URL</key>
	<string>https://let-me-in-794a5.firebaseio.com</string>
</dict>
</plist>